<a href="https://colab.research.google.com/github/John-Kenneth-Jayao/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#if statement

In [4]:
a = 12 
b = 100

if a<b:
 print("a less than b")

a less than b

#Elif Statement

In [6]:
if a<b:
  print("a less than b")
elif a>b:
  print("a is greater than b")

a less than b

#Else statement

In [11]:
if a<b:
  print("a less than b")
elif a>b:
  print("a is greater than b")
else:
   print('a is equal to b')

a less than b

Shorthand if Statement

In [14]:
c = 5
d = 10

if c>d: print("c is greater than b")

Short hand if else Statement

In [15]:
print('c>d') if c>d else print('d>c')

d>c

#And Statement

In [20]:
if 5>10 and 8<4:
  print("Both statement are true")
else:
  print("one of the statement is false/ both statement is not true")

one of the statement is false/ both statement is not true

#OR statement

In [21]:
if 5>10 and 8<4:
  print("true")
else:
  print("false")

false

#Bitwise operator using ^ (xor)

In [22]:
e = 4
f = 2 

e^f

6

#Nested if statement

In [44]:
x = 41 
if x>10:
  print("number is above 10")
  if x>20:
   print ("number is above 20")
   if x>30:
    print ("number is above 30")
   if x>40:
     print ("number is above 40")
     if x>50:
       print("number is above 50")

number is above 10
number is above 20
number is above 30
number is above 40

#write  a program that determines  if the input age is qualified to vote or not 
#The qualifying age is 18 years old  and above.

In [43]:
a = 18
b = 17
if a>=b:
 print("You are qualified to vote")
else:
  print(" You are not  qualified to vote")

You are qualified to vote

#For loop statement

In [55]:
week = ["sunday ","monday","tuesday","wednesday","thursday","friday","saturday"]
for y in week:
 print(y)

sunday
monday
tuesday
wednesday
thursday
friday
saturday

#Break loop statement

In [56]:
week = ["sunday ","monday","tuesday","wednesday","thursday","friday","saturday"]
for y in week:
 print(y)
 if y== "thursday":
   break

sunday
monday
tuesday
wednesday
thursday

In [57]:
for x  in "week":
  print(x)

w
e
e
k

In [58]:
#range () function

for x in  range (6):
  print(x)

0
1
2
3
4
5

In [62]:
for  x in range(2,6,2):
  print(x)

2
4

In [63]:
#Nested loops

adjective = ["red","big","tasty"]
fruits =  ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [68]:
i=1 
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [69]:
i=1 
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [70]:
#using while  loop  and break statement, the output is 3 only
i = 3 
while i<=3:
  print(i)
  break

3

In [71]:
#Application 2. Write a program that determines if the input number is POSITIVE,NEGATIVE,OR ZERO

num = input ("Enter num")
if int(num)>0:
  print("The number is positive")
elif int(num)<0:
  print("The number is negative")
else:
  print("The number is Zero")

Enter num1
The number is positive